NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_ZmFuY3ktY293YmlyZC0xNy5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_6i8eu6NJlr40xagGmlH6lXW35doElL1CFv0ng1q4o4

CLERK_WEBHOOK_SECRET=https://play.svix.com/in/e_C8Hbr9KCdv20SysW5cb0y6cjalU/
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/

SUPABASE_URL=https://hyrtaflooilpnwajonix.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh5cnRhZmxvb2lscG53YWpvbml4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTcyODAyMjk1MywiZXhwIjoyMDQzNTk4OTUzfQ.1CuIu5wPDAMd91JMJT3B0SDPJDXlMjO9bcj-MyL-ac8

DATABASE_URL= # Set this to the Transaction connection pooler string you copied in Step 1
DIRECT_URL=  # Set this to the Session connection pooler string you copied in Step 1

UPSTASH_REDIS_REST_URL=https://funky-kiwi-57062.upstash.io
UPSTASH_REDIS_REST_TOKEN=Ad7mAAIjcDE4OTIxYTkzNjE1Mjc0NTQyYjY5YWYxMDhlNGUyNWU4MnAxMA

FRONTEND_URL=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=

NEXT_PUBLIC_STRIPE_PRICE_ID=